<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.01 Transitional//EN&quot; &quot;http://www.w3.org/TR/html4/loose.dtd&quot;&gt;<br>
&lt;html&gt;<br>
&lt;head&gt;<br>
&lt;title&gt;Learning to Use CSS Styles&lt;/title&gt;<br>
&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=iso-8859-1&quot;&gt;<br>
&lt;link href=&quot;&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;<br>
&lt;link href=&quot;coolstyle.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;<br>
&lt;/head&gt;
<p>&lt;body&gt;<br>
&lt;table width=&quot;600&quot; border=&quot;0&quot; align=&quot;center&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot;&gt;<br>
&lt;tr&gt; <br>
&lt;td colspan=&quot;2&quot; class=&quot;page-heading&quot;&gt;&lt;h1&gt;Learning to Use CSS Styles&lt;/h1&gt;&lt;/td&gt;<br>
&lt;/tr&gt;<br>
&lt;tr&gt; <br>
&lt;td rowspan=&quot;2&quot; class=&quot;nav&quot;&gt;<br>
&lt;h2&gt;Examples&lt;/h2&gt;<br>
&lt;p&gt;Index &amp;gt;&lt;/p&gt;<br>
&lt;p&gt;&lt;a href=&quot;plain.htm&quot;&gt;Plain&lt;/a&gt;&lt;/p&gt;<br>
&lt;p&gt;&lt;a href=&quot;simple.htm&quot;&gt;Simple&lt;/a&gt;&lt;/p&gt;<br>
&lt;p&gt;&lt;a href=&quot;medium.htm&quot;&gt;Medium&lt;/a&gt;&lt;/p&gt;<br>
&lt;p&gt;&lt;a href=&quot;highskill.htm&quot;&gt;High Skill&lt;/a&gt;&lt;/p&gt;<br>
&lt;/td&gt;<br>
&lt;td class=&quot;maintext&quot;&gt; &lt;p&gt;All the examples linked here use the same HTML page, <br>
  with exactly the same markup. The only thing that changes is the &lt;b&gt;style <br>
  sheet&lt;/b&gt; that is linked to the page.&lt;/p&gt;<br>
&lt;p&gt;The HTML page has exactly four custom class defined. They are:&lt;/p&gt;<br>
&lt;ul&gt;<br>
&lt;li&gt;page-heading&lt;/li&gt;<br>
&lt;li&gt;nav&lt;/li&gt;<br>
&lt;li&gt;maincontent&lt;/li&gt;<br>
&lt;li&gt;footer&lt;/li&gt;<br>
&lt;/ul&gt;<br>
&lt;p&gt;You can easily figure out which cells (TDs) these classes are applied <br>
  to. The table on the Web page has only four cells. Each cell is assigned <br>
  one of the four custom classes. Please download the page and the style <br>
  sheets to see how everything works.&lt;/p&gt;<br>
&lt;p&gt;The style sheets (right-click to save/download the file):&lt;/p&gt;<br>
&lt;ul&gt;<br>
&lt;li&gt;Plain: No style sheet linked to this page&lt;/li&gt;<br>
&lt;li&gt;Simple: &lt;a href=&quot;graystyle.css&quot;&gt;graystyle.css&lt;/a&gt;&lt;/li&gt;<br>
&lt;li&gt;Medium: &lt;a href=&quot;okaystyle.css&quot;&gt;okaystyle.css&lt;/a&gt;&lt;/li&gt;<br>
&lt;li&gt;High Skill: &lt;a href=&quot;coolstyle.css&quot;&gt;coolstyle.css&lt;/a&gt;&lt;/li&gt;<br>
&lt;/ul&gt;<br>
&lt;p&gt;To &lt;b&gt;learn&lt;/b&gt; from these four examples, download the three CSS style <br>
  sheets and compare them. You may want to print them out. Look at the four <br>
  HTML files linked in the navigation list on the left side of this page <br>
  and &lt;b&gt;compare&lt;/b&gt; what each style sheet does to the appearance of the <br>
  page.&lt;/p&gt;<br>
&lt;/td&gt;<br>
&lt;/tr&gt;<br>
&lt;tr&gt; <br>
&lt;td class=&quot;footer&quot;&gt;My e-mail address: &lt;a href=&quot;mailto:myname@mydomain.com&quot;&gt;myname@mydomain.com&lt;/a&gt;&lt;/td&gt;<br>
&lt;/tr&gt;<br>
&lt;/table&gt;<br>
&lt;/body&gt;<br>
&lt;/html&gt;<br>
</p>
</body>
</html>
