<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<title> A Basic Table Page </title>
<link href="simplestyle.css" rel="stylesheet" type="text/css">
</head>
<body>

<table width="90%" align="center" border="0" cellspacing="5" cellpadding="10">
  <tr> 
    <td class="darkblue" align="left" valign="top">
    Here is a basic 3 x 2 table for you to modify (three columns, two rows). 
    Congress shall make no law respecting an establishment of 
    religion or prohibiting the free exercise thereof or 
    restricting the freedom of speech or of the press or the right 
    of the people peaceably to assemble or to petition the government 
    for a redress of grievances (First Amendment to the U.S. Constitution).
    </td>
    <td align="left" valign="top">
    <h2>Style sheet attached; styles applied to TDs.</h2>
    <p>
    &lt; <a href="basictable02.htm">Back</a> | 
    <a href="basictable04.htm">Next</a> &gt;
    </p>
      <h3> Now a class has been applied to each of the table cells on either side 
        of this one. </h3>
    </td>
    <td class="darkblue" align="left" valign="top">
    They believed that the greatest menace to freedom is an inert people; 
    that public discussion is a political duty; and that this should be 
    a fundamental principle of the American government (Brandeis, 1927).
    </td>
  </tr>
  <tr> 
    <td align="left" valign="top">
    Fourscore and seven years ago our fathers brought forth 
    upon this continent a new nation conceived in liberty and 
    dedicated to the proposition that all men are created equal 
    (Lincoln, 1863).
    </td>
    <td align="left" valign="top">
    Those who won our independence believed that the final end 
    of the state was to make men free to develop their faculties, 
    and that in its government the deliberative forces should prevail 
    over the arbitrary. They valued liberty both as an end 
    and as a means. They believed liberty to be the secret of happiness 
    and courage to be the secret of liberty (Brandeis, 1927).
    </td>
    <td align="left" valign="top">
    They believed that freedom to think as you will and 
    to speak as you think are means indispensable to 
    the discovery and spread of political truth;
    that without free speech and assembly, 
    discussion would be futile; that with them, discussion affords 
    ordinarily adequate protection against 
    the dissemination of noxious doctrine ... (Brandeis, 1927: 
    Whitney v. People of the State of California, 274 U.S. 357).
    </td>
  </tr>
</table>

</body>
</html> 
