<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>  <head>    <title>Downloads | Teach Yourself CSS in 24 hours</title>    <link type="text/css" rel="stylesheet"          href="/styles/netscape4.css">  </head>  <body><!-- top header -->
<div id="pagehead">
  <div id="tophead">
    <span id="toph1">Teach Yourself</span>
     <span id="toph2">CSS</span>
    <span id="toph3">in</span>
    <span id="toph4">24</span>
    <span id="toph5">Hours</span>
    <span id="toph6">By <a href="/credits/author.php">Kynn Bartlett</a></span>
  </div>
<!-- main navigation bar -->

<div id="mainnav">
  <span class="separator">[</span>
  <span class="navlink">
    <a href="/">Book Homepage</a> 
  </span>
  <span class="separator">|</span>
  <span class="navlink">
    <a href="/buy.php">Buy It!</a>
  </span>
  <span class="separator">|</span>
  <span class="navlink">
    <a href="/updates.php">Updates</a>
  </span>
  <span class="separator">|</span>
  <span class="navlink">
    <a href="/downloads/">Downloads</a>
  </span>
  <span class="separator">|</span>
  <span class="navlink">
    <a href="/contact.php">Contact Me</a>
  </span>
  <span class="separator">]</span>
</div>
</div>
    <div id="main"><div id="content"><h2>Downloads</h2>
<p>
  You can download all the sample code from this book as one large
  file, or you can download each hour separately.  Not all hours have
  downloadable sample code.
</p>

<ul>
  <li><a href="CSSin24hours-full.tar.gz">Download all</a> [150K tar.gz file]</li>
  <li><a href="/01/CSSin24hours-01.tar.gz">Hour 1</a> [4.9K tar.gz file]</li>
  <li><a href="/02/CSSin24hours-02.tar.gz">Hour 2</a> [1.7K tar.gz file]</li>
  <li><a href="/04/CSSin24hours-04.tar.gz">Hour 4</a> [0.5K tar.gz file]</li>
  <li><a href="/05/CSSin24hours-05.tar.gz">Hour 5</a> [2.4K tar.gz file]</li>
  <li><a href="/06/CSSin24hours-06.tar.gz">Hour 6</a> [0.6K tar.gz file]</li>
  <li><a href="/08/CSSin24hours-08.tar.gz">Hour 8</a> [1.5K tar.gz file]</li>
  <li><a href="/09/CSSin24hours-09.tar.gz">Hour 9</a> [1K tar.gz file]</li>
  <li><a href="/10/CSSin24hours-10.tar.gz">Hour 10</a> [3K tar.gz file]</li>
  <li><a href="/11/CSSin24hours-11.tar.gz">Hour 11</a> [10K tar.gz file]</li>
  <li><a href="/12/CSSin24hours-12.tar.gz">Hour 12</a> [5K tar.gz file]</li>
  <li><a href="/13/CSSin24hours-13.tar.gz">Hour 13</a> [0.6K tar.gz file]</li>
  <li><a href="/14/CSSin24hours-14.tar.gz">Hour 14</a> [2.5K tar.gz file]</li>
  <li><a href="/15/CSSin24hours-15.tar.gz">Hour 15</a> [1.7K tar.gz file]</li>
  <li><a href="/16/CSSin24hours-16.tar.gz">Hour 16</a> [28K tar.gz file]</li>
  <li><a href="/17/CSSin24hours-17.tar.gz">Hour 17</a> [10K tar.gz file]</li>
  <li><a href="/18/CSSin24hours-18.tar.gz">Hour 18</a> [3K tar.gz file]</li>
  <li><a href="/19/CSSin24hours-19.tar.gz">Hour 19</a> [1K tar.gz file]</li>
  <li><a href="/20/CSSin24hours-20.tar.gz">Hour 20</a> [0.5K tar.gz file]</li>
  <li><a href="/21/CSSin24hours-21.tar.gz">Hour 21</a> [0.6K tar.gz file]</li>
  <li><a href="/22/CSSin24hours-22.tar.gz">Hour 22</a> [2.8K tar.gz file]</li>
  <li><a href="/23/CSSin24hours-23.tar.gz">Hour 23</a> [69K tar.gz file]</li>
  <li><a href="/24/CSSin24hours-24.tar.gz">Hour 24</a> [2K tar.gz file]</li>
</ul>
<div id="indicia">
<div class="hide">--</div>
Page design copyright &copy; 2002 by <a href="mailto:kynn@cssin24hours.com">Kynn Bartlett</a>.
<br>
<cite>Teach Yourself CSS in 24 Hours</cite> is published by SAMS Publishing.
<br>
<a href="http://validator.w3.org/check/referer">Valid HTML</a> |
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fwww.cssin24hours.com%2Fstyles%2Fcss24.css&amp;warning=0&amp;profile=css2">Valid CSS</a> |
<a href="http://www.cast.org/bobby">Accessible HTML</a>
<div class="hide">--</div>
</div> <!-- footer -->
</div>    </div><!-- sidebar -->
<div id="sidebar">

  <div class="sidenav">
    <div class="sidehead">About the Book</div>
    <span class="hide"> [ </span> 
    <a class="sidelink" href="/about/toc.php">Table of Contents</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/about/sample.php">Sample Chapter</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/updates.php">Errata</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/about/webexcl.php">Web Exclusives</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/downloads/">Code Samples</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/about/reviews.php">Reviews</a>
    <span class="hide"> ] </span> 
  </div>
  <div class="sidenav">
    <div class="sidehead">CSS Resources</div>
    <span class="hide"> [ </span> 
    <a class="sidelink" href="/resources/browsers.php">Browsers</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/resources/editors.php">Editors</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/resources/specs.php">Specifications</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/resources/sites.php">Web Sites</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/resources/access.php">Accessibility</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/resources/lists.php">Lists &amp; Forums</a>
    <span class="hide"> ] </span> 
  </div>
  <div class="sidenav">
    <div class="sidehead">Book Credits</div>
    <span class="hide"> [ </span> 
    <a class="sidelink" href="/credits/author.php">About Kynn</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="/credits/dedication.php">Dedication Page</a>
    <span class="hide"> | </span> 
    <a class="sidelink" href="http://www.samspublishing.com/">SAMS Web Site</a>
    <span class="hide"> ] </span> 
  </div>
 </div> 
<!-- chapter sidebar -->

<div id="chapbar">
  <span class="chaphead">Hour:</span>
  <span class="hide"> [ </span>
  <a class="chapter" id="i" href="/00/">intro</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch1" href="/01/">1</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch2" href="/02/">2</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch3" href="/03/">3</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch4" href="/04/">4</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch5" href="/05/">5</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch6" href="/06/">6</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch7" href="/07/">7</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch8" href="/08/">8</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch9" href="/09/">9</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch10" href="/10/">10</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch11" href="/11/">11</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch12" href="/12/">12</a>
  <a class="chapter" id="ch13" href="/13/">13</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch14" href="/14/">14</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch15" href="/15/">15</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch16" href="/16/">16</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch17" href="/17/">17</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch18" href="/18/">18</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch19" href="/19/">19</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch20" href="/20/">20</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch21" href="/21/">21</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch22" href="/22/">22</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch23" href="/23/">23</a>
  <span class="hide"> | </span>
  <a class="chapter" id="ch24" href="/24/">24</a>
  <span class="hide"> | </span>
  <a class="chapter" id="xa" href="/xa/">a</a>
  <span class="hide"> | </span>
  <a class="chapter" id="xb" href="/xb/">b</a>
  <span class="hide"> | </span>
  <a class="chapter" id="xc" href="/xc/">c</a>
  <span class="hide"> ]</span>
</div>

  </body></html>